.card-footer #btn{
	border-style:none;
	border-radius: 3px;
	width:80px;
	height:40px;
	font-size: 18px;
}
.card-footer #btn1{
	border-style:none;
	border-radius: 3px;
	width:80px;
	height:40px;
	font-size: 18px;
}
.card-footer #btn2{
	border-style:none;
	border-radius: 3px;
	width:80px;
	height:40px;
	font-size: 18px;
}
.card-footer #btn3{
	border-style:none;
	border-radius: 3px;
	width:80px;
	height:40px;
	font-size: 18px;
}
.card-footer #btn4{
	border-style:none;
	border-radius: 3px;
	width:80px;
	height:40px;
	font-size: 18px;
}
.card-footer #btn5{
	border-style:none;
	border-radius: 3px;
	width:80px;
	height:40px;
	font-size: 18px;
}
.card-footer #btn6{
	border-style:none;
	border-radius: 3px;
	width:80px;
	height:40px;
	font-size: 18px;
}
.colora#btn1{
		background: #CCC;
}
.colorb#btn1{
		background: #ff7575;
		color:#FFFFFF;
}
.colora#btn2{
		background: #CCC;
}
.colorb#btn2{
		background: #ff7575;
		color:#FFFFFF;
}
.colora#btn3{
		background: #CCC;
}
.colorb#btn3{
		background: #ff7575;
		color:#FFFFFF;
}
.colora#btn4{
		background: #CCC;
}
.colorb#btn4{
		background: #ff7575;
		color:#FFFFFF;
}
.colora#btn5{
		background: #CCC;
}
.colorb#btn5{
		background: #ff7575;
		color:#FFFFFF;
}
.colora#btn6{
		background: #CCC;
}
.colorb#btn6{
		background: #ff7575;
		color:#FFFFFF;
}
